h1,h2,h3,h4,h5,h6 {
  color: #281E1E;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

form {
    /* Pour le centrer dans la page */
    margin: 0 auto;
    width: 400px;
    /* Pour voir les limites du formulaire */
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
}

.titre {
  background-color: #71b43d;
  color: #fff;
  text-align: center;
}

.footer {
  margin-top: 20px;
  border-radius: 5px;
  background-color: #71b43d;
  color: #fff;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.div-nom {
  margin: 20px;
}

.div-email {
  margin: 20px;
}

.div-texte {
  margin: 20px;
}

.div-bouton {
  margin: 20px;
  text-align: center;
}

.case {
  border-radius: 3px;
}
